<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=COMPUTER\SQLEXPRESS;User ID= Maxisoft; Password = 051099; Initial Catalog=Airsales;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>